html, body{
    margin:0;
}

.header-dark{
    background-color: black;
    color: white;
    height: 100px;
    padding-top: 15px;
    padding-right: 1350px;
    margin: 0;
}

*[data-dash-is-loading="true"]{
    visibility: hidden;
}

*[data-dash-is-loading="true"]::before{
    content: "Loading...";
    display: inline-block;
    color: magenta;
    visibility: visible;
}